body {
    background: linear-gradient(to bottom, #00a2fff1, #0479ff, #2773ff);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    height: 100vh;
}


body>h1 {
    color: white;
    text-align: center;
    padding: 1rem;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(40vh + 8rem);
    justify-content: center;
    margin: 0 auto;
}

.login-form h1 {
    margin-bottom: 1rem;
    text-align: center;
    color:cadetblue;
    font-size: xx-large 0 xx-large 0;
}

.login-form input[type="password"], .login-form input[type="text"] {
    width: 100%;
    padding: 1rem;
    background-color: #3bb7ff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
    border-radius: 0.75rem
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #0a40a5;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    border-radius: 0.75rem;
    font-size: 1.05rem;
}

.menubar {
    padding: 1rem;
    background-color: #0289d8;
    color: white;
}

.img {
    width: 100vh;
    height: 100vh;
}