doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        include includes/header
        include includes/menubar
    body 
    - const user= name
    h1 Welcome #{user} to the secret page